.header {
    width: 100%;
}

.spacing-15 {
    padding: 15px;
}

.spacing-25 {
    padding: 25px;
}

.spacing-50 {
    padding: 50px;
}

.spacing-75 {
    padding: 75px;
}

.spacing-100 {
    padding: 100px;
}

.spacing-125 {
    padding: 125px;
}

.spacing-150 {
    padding: 150px;
}

.spacing-200 {
    padding: 200px;
}

.spacing-250 {
    padding: 250px;
}

.table-fixed thead {
    width: 100%;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,.table-fixed tbody,.table-fixed tr,.table-fixed td,.table-fixed th {
    display: block;
}

.table-fixed tbody td,.table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
    background-color: inherit;
}

.table > tbody > tr > td {
    border-top-color: #969696;
    text-align: left;
}

.selected {
    font-weight: bolder;
}

#tableFilters > .form-group {
    margin-bottom: 0;
}


p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #e56a6a;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.intro-img {
	height: 65%;
	width: 65%;
}

.intro {
	position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background:     
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),url(/images/3ccbg.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100% !important;
    font-size: 40px;
    color: #fff;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,.btn-circle:focus {
    outline: none;
    color: #fff;
    background: rgba(255,255,255,0.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.content-section {
    padding-top: 100px;
}

.about-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background-color: #28729e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    //#e56a6a
    //#e54141
    //#125896
    //#28729e
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid #e56a6a;
    color: #e56a6a;
    background-color: transparent;
}

.btn-default:hover,.btn-default:focus {
    border: 1px solid #e56a6a;
    outline: none;
    color: #000;
    background-color: #e56a6a;
}